<%= form_with(model: @buy, data: {turbo: false}) do |form|%>
    <div class="row">

        <div class="col-lg-4">
            <div class="form-group">
                <%= form.label :about, class: 'mb-2'%>
                <%= form.text_field :about, class: 'form-control form-control-lg rounded-0'%>
                <% @buy.errors.full_messages_for(:about).each do |message| %>
                    <p class="text-danger"><%= message %></p>  
                <% end %> 
            </div>
        </div>

        <div class="col-lg-4">
            <div class="form-group">
                <%= form.label :price, class: 'mb-2'%>
                <%= form.number_field  :price, class: 'form-control form-control-lg rounded-0'%>

                <% @buy.errors.full_messages_for(:price).each do |message| %>
                    <p class="text-danger"><%= message %></p>  
                <% end %>

            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <%= form.label :add, class: 'mb-2 mt-4'%>
                <%= form.text_field  :add, class: 'form-control form-control-lg rounded-0'%>

                <% @buy.errors.full_messages_for(:add).each do |message| %>
                    <p class="text-danger"><%= message %></p>  
                <% end %>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <%= form.label :phone_no, class: 'mb-2 mt-4'%>
                <%= form.telephone_field :phone_no, class: 'form-control form-control-lg rounded-0'%>

                <% @buy.errors.full_messages_for(:phone_no).each do |message| %>
                    <p class="text-danger"><%= message %></p>  
                <% end %>

            </div>
        </div>

        <div class="col-lg-4">
            <div class="form-group">
                <%= form.label :property_type, class: 'mb-2 mt-4'%>
                <%= form.text_field :property_type, class: 'form-control form-control-lg rounded-0'%>

               <% @buy.errors.full_messages_for(:property_type).each do |message| %>
                    <p class="text-danger"><%= message %></p>  
                <% end %>

            </div>
        </div>

        <div class="col-lg-4">
            <div class="form-group">
                <%= form.label :landmark, class: 'mb-2 mt-4'%>
                <%= form.text_field :landmark, class: 'form-control form-control-lg rounded-0'%>

                <% @buy.errors.full_messages_for(:landmark).each do |message| %>
                    <p class="text-danger"><%= message %></p>  
                <% end %>

            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12 mt-4">
            <%= form.submit class: 'btn btn-primary btn-lg rounded-0'%>
            <%= link_to "Back to Buy", buys_path, class: "btn btn-outline-primary btn-lg rounded-0" %>
            </div>
    </div>

<% end %>
